<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>extensionPath</key>
	<string>Properties.roboFontExt</string>
	<key>addToMenu</key>
	<array/>
	<key>developer</key>
	<string>Jeremie Hornus</string>
	<key>developerURL</key>
	<string>https://github.com/sansplomb/</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>1</integer>
	<key>mainScript</key>
	<string>Properties.py</string>
	<key>name</key>
	<string>Properties</string>
	<key>timeStamp</key>
	<real>1393944570.007383</real>
	<key>repository</key>
	<string>sansplomb/Properties</string>
	<key>version</key>
	<string>1.1.1</string>
</dict>
</plist>
